* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  /* sometimes there's a blue outline, so we have to add this */
  outline: none;
}
